.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.loadingWrap {
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
